# 1.1 Create a Variable

You specify the name of the variable of the left and the value of the variable on the right of an equal sign.

variable_name = value

E.g. let's say that the salary variable is worth 100,000

In [36]:
salary = 100000

Every variable appears in the variable pane on the left-side navigation bar.

If I want to know what are the contents of a variable, I simply write it's name and press shift+enter to see them all

In [37]:
salary

100000

# 1.2 Calculations / Manipulations with a variable

I want to calculate total salary according to the formula below:

Total salary = (base salary) * (1 + Bonus rate)

First we need to define our variables (we can do more than one at a time using multiple rows in the same cell)

In [38]:
base_salary = 100000
bonus_rate = 0.10

Then we define the total_salary variable as per our initial formula.

In [39]:
total_salary = base_salary * (1 + bonus_rate)

Then we call the variable to see the result of our operation

In [40]:
total_salary

110000.00000000001

Varible names can only be numbers, letters or underscores. We will have an error message and an indication of where the error is if we make a mistake.

e.g. **lukes salary** doesn't work, but **lukes_salary** does

In [41]:
lukes salary = 100000
lukes_salary = 100000

SyntaxError: invalid syntax (3347595642.py, line 1)

# 1.3 Variables aren't only numbers

Create variables to store the following information about a job posting

* Job ID (Integer)
* Company Name (String)
* Salary rate (string, but consider how you might store as a numerical type for calculations)
* Job Work From Home (boolean)

In [ ]:
company_name = "Data Wiz Inc."

In [ ]:
company_name

'Data Wiz Inc.'

In [ ]:
job_wfh = True

In [ ]:
job_wfh

True

In [ ]:
job_id = 101
job_title = "Data Analyst"
job_salary = 125000

In [ ]:
print("Data Job Description")
print("++++++++++++++++++++++")
print("Job ID:      ", job_id)
print("Company Name:", company_name)
print("Job title:   ", job_title)
print("Salary:      ", job_salary)
print("WFH:         ", job_wfh)

Data Job Description
++++++++++++++++++++++
Job ID:       101
Company Name: Data Wiz Inc.
Job title:    Data Analyst
Salary:       125000
WFH:          True

# 1.4 Variables - Problems

## 1.2.1

Create a variable, called job_count to store the number 42. Print job_count once calculated.

In [42]:
job_count = 42

In [ ]:
print(job_count)

42

## 1.2.2

Create variables to store the job title, company name, and whether the job is remote for a Data Engineer position. Set the job title to 'Data Engineer', the company name to 'DataWorks', and the remote status to True. Print all the variables.

In [43]:
job_title = "Data Analyst"
company_name = "DataWorks"
is_remote = True

In [ ]:
print(job_title)
print(company_name)
print(is_remote)

Data Analyst
DataWorks
True

In [ ]:
print(job_title, company_name, is_remote)

Data Analyst DataWorks True

## 1.2.3

Calculate the total compensation for a Data Scientist by adding two variables of base_salary and bonus. The base salary is 120000 and the bonus is 20000. Store the result in a variable named total_compensation. Print total_compensation once calculated.

- Can do it in multiple stages.

In [ ]:
base_salary = 120000
bonus = 20000
total_compensation = base_salary + bonus

In [ ]:
print(total_compensation)

140000

- Or can also be done all in one cell.

In [ ]:
base_salary = 120000
bonus = 20000
total_compensation = base_salary + bonus
print(total_compensation)

140000

## 1.2.4

Calculate the monthly salary of a Data Analyst job by dividing the annual salary of $72K by 12 and then printing the monthly salary. Assign appropriate variable names for each.

In [ ]:
annual_salary = 72000
months = 12
monthly_salary = annual_salary / months
print(monthly_salary)

6000.0

## 1.2.5

Create variables to store the job title, company name, and salary for a Data Scientist position at AI Solutions for $110K. Then, calculate the total compensation by adding a 10% bonus to the salary and print the total compensation, along with the job and company name.

In [ ]:
job_title = "Data Scientist"
company_name = "AI Solutions"
salary = 110000
bonus = salary * 0.1
total_compensation = salary + bonus
print("Simple solution")
print(total_compensation, job_title, company_name)
print("--------")
print("Complicated solution")
print(f"Total compensation for {job_title} at {company_name} is ${total_compensation}")

Simple solution
121000.0 Data Scientist AI Solutions
--------
Complicated solution
Total compensation for Data Scientist at AI Solutions is $121000.0