# 8 Lists

## 8.1 Intro

Lists are described with square brackets [] and contain a series of ordered items of any specific type within them.

You can have a list within a list!

In [11]:
job_skills = ["sql", "tableau", "excel"]

In [12]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...)
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

## 8.2 Intro to list methods

Multiple methods available e.g. append, remove, index, etc. Look at the help function outputs to know what is available.

In [13]:
job_skills.append("python")
print(job_skills)

['sql', 'tableau', 'excel', 'python']

In [14]:
job_skills.remove("tableau")
print(job_skills)

['sql', 'excel', 'python']

In [15]:
# calculate how many items are within a list
len(job_skills)

3

In programming, lists start at the number 0. The first item in a list is denoted as 0, then first, then second, etc. e.g. 

["Python", "SQL", "Excel]

     0       1       2

In [16]:
# we can find the value of an index. 
# Knowing where a value is sitting in a list is important if we want to add a value before/after an existing list object.  
print(job_skills[1])

excel

In [17]:
# we want to add tableau back in its original list position
job_skills.insert(2, "Tableau")
print(job_skills)

['sql', 'excel', 'Tableau', 'python']

In [18]:
# we want to remove python using the pop method
# pop by defaults removes the last item of a list. we cam specify the index of the object we want removed if in the middle of a list.
job_skills.pop()
print(job_skills)

['sql', 'excel', 'Tableau']

## 8.3 Slicing

Syntax: list[start:end:step]

    'start': The starting index (inclusive)

    'end': The ending index (exclusive)

    'step': Steps to take between items

In [19]:
job_skills = ["sql", "excel", "python"]

In [22]:
# output me all list items between 0 and 2
# we write 3 because the last term is EXCLUSIVE
job_skills[0:3]

['sql', 'excel', 'python']

In [24]:
# all list items, regardless of how long the list is
job_skills[:]

['sql', 'excel', 'python']

In [25]:
# see the first item of a list
# any default values don't need to be entered
job_skills[:1]

['sql']

In [26]:
# default step is 1
job_skills[::1]

['sql', 'excel', 'python']

In [27]:
# step of 2
job_skills[::2]

['sql', 'python']

In [28]:
# merge lists 
# it will have repeating values
# it will be in the same order we inputed it
luke_skills = ["python", "bigquery", "r"]
kelly_skills = ["python", "sql", "looker"]

all_skills = luke_skills + kelly_skills
print(all_skills)

['python', 'bigquery', 'r', 'python', 'sql', 'looker']

In [29]:
# see every 2nd item
all_skills[::2]

['python', 'r', 'sql']

In [31]:
# see the last item of the list
# -1 denotes the last item, then -2, -3, etc to go through the list backwards
# 0 is only for the first item, so that's why we start at -1
all_skills[-1:]

'looker'

In [32]:
# last two items
all_skills[-2:]

['sql', 'looker']

## 8.4 Unpacking

Assign each value in an iterable to a variable in a single statement

In [36]:
job_skills = ["sql", "tableau", "excel", "looker"]

In [39]:
# unpacking a list
skill1, skill2, skill3, skill4 = job_skills
print(skill1, skill2, skill3, skill4)

sql tableau excel looker

In [41]:
# unpack one item in a variable and others in another var
# it is called an unpack operator -» *
skill_concerned, *skill_dont_care = job_skills
print(skill_concerned)
print(skill_dont_care)

sql
['tableau', 'excel', 'looker']

## 8.5 Mutability

**Mutable objects** can be modified after creation e.g. lists, dictionaries, sets

**Immutable objects** cannot be changed after they are created e.g. strings, integers, tuples

Mutable objects -» can modify elements, add new ones, rearrange the order without creating a new object.

# 8.2 Problems

## 1.8.1

Access the second job title in the list of job titles for data science roles and print it. The variable job_titles is set to ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer'].

In [45]:
job_titles = ["Data Scientist", "Data Analyst", "Machine Learning Engineer"]
print(job_titles[1])

Data Analyst

## 1.8.2

Change the third job title in the list of job titles for data science roles to 'AI Specialist' and print the updated list. The variable job_titles is set to ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer'].

In [46]:
# pop and append method
job_titles.pop()
job_titles.append("AI Specialist")
print(job_titles)

['Data Scientist', 'Data Analyst', 'AI Specialist']

In [47]:
# replace method (much simpler!)
job_titles[2] = "AI Specialist"
print(job_titles)

['Data Scientist', 'Data Analyst', 'AI Specialist']

## 1.8.3

Slice the list of job titles for data science roles to get the first two job titles and print the result. The list is ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Data Engineer'].

In [50]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Data Engineer']
print(job_title[0:2])

['Data Scientist', 'Data Analyst']

## 1.8.4

Add a new job title 'Data Engineer' to the end of the list of job titles for data science roles and print the updated list. The variable job_titles is set to ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer'].

In [51]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
job_titles.append("Data Engineer")
print(job_titles)

['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Data Engineer']

## 1.8.5

Insert a new job title 'Business Analyst' at the second position in the list of job titles for data science roles and print the updated list. The variable job_titles is set to ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer'].

In [52]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
job_titles.insert(1, "Business Analyst")
print(job_titles)

['Data Scientist', 'Business Analyst', 'Data Analyst', 'Machine Learning Engineer']