# 11 Tuples

## 11.1 Overview

Tuples are very similar to list.

They are defined by parentheses. Any item can be within the parenthese.

Tuples are immutable. They are for fixed data. 

When we need unique set of items that we cannot modify.

They are indexable. Can be called by an index.

Mostly applicable in software engineering, but still applicable in data analysis.

In [1]:
# create a tuple
lukes_skill = ("python", "sql", "statistics", "tableau")
print(lukes_skill)

('python', 'sql', 'statistics', 'tableau')

In [2]:
# find an item using the index
lukes_skill[0]

'python'

In [3]:
# can also slice, like a list
lukes_skill[0:2]

('python', 'sql')

In [4]:
# proof that they are immutable
lukes_skill.append("r")

AttributeError: 'tuple' object has no attribute 'append'

In [5]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Built-in subclasses:
 |      asyncgen_hooks
 |      UnraisableHookArgs
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...)
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.

In [6]:
# how can we update a tuple

lukes_skill = ("python", "sql", "statistics", "tableau")
new_skill = ("excel", "power bi")
lukes_skill + new_skill

('python', 'sql', 'statistics', 'tableau', 'excel', 'power bi')

In [10]:
# there is also an add functionality for tuples
# whenever you update a tuple, you are actually creating a new one.
# you can confirm that with unique object IDs!

lukes_skill = ("python", "sql", "statistics", "tableau")
print(id(lukes_skill))
new_skill = ("excel", "power bi")
lukes_skill += new_skill
lukes_skill
print(id(lukes_skill))

# both ids do not match! If we did the same with lists, the IDs would be the same!

2206883652576
2206880494976

## 11.2 Ranges

Produces a series of integers between a range and with a specific step

In [12]:
# how to write a range
print(range(5))

range(0, 5)

In [14]:
# you can convert them to a tuple (mostly to see all the values possible)
print(tuple(range(5)))

(0, 1, 2, 3, 4)

In [17]:
# you can decide where to start
print(tuple(range(2, 5)))

(2, 3, 4)

In [22]:
# you can decide the step
print(tuple(range(0, 101, 5)))

(0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100)

## 11.3 Problems

### 1.11.1

Access the second job role from the tuple job_roles and print it. The job_roles variable is set to ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer').

In [25]:
job_roles = ("Data Scientist", "Data Analyst", "Machine Learning Engineer")
print(job_roles[1])

Data Analyst

## 1.11.2

Create a new tuple extended_job_roles by adding the job role 'AI Specialist' to the existing tuple job_roles. Print the new tuple. The job_roles is set to job_roles = ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer').

In [30]:
job_roles = ("Data Scientist", "Data Analyst", "Machine Learning Engineer")
extended_job_roles = job_roles + ("AI Specialist",)
print(extended_job_roles)

# NOTE: there must be at least one comma in the tuples parenthesis to add a new item and create a new tuple.

('Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'AI Specialist')

## 1.11.3

Remove the job role 'Data Analyst' from the tuple job_roles by converting it to a list and then back to a tuple. Print the updated tuple. The tuple job_roles is set to ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer').

In [36]:
job_roles = ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer')
job_roles_list = list(job_roles)
job_roles_list.remove("Data Analyst")
updated_job_roles = tuple(job_roles_list)
print(updated_job_roles)

('Data Scientist', 'Machine Learning Engineer')

## 1.11.4

Unpack the tuple job_postings into three variables data_scientist_postings, data_analyst_postings, and ml_engineer_postings. Print each variable. The variable job_postings is set to (120, 80, 50).

In [38]:
job_postings = (120, 80, 50)
data_scientist_postings, data_analyst_postings, ml_engineer_postings = job_postings
print(data_scientist_postings)
print(data_analyst_postings)
print(ml_engineer_postings)

# skill1, skill2, skill3, skill4 = job_skills
# print(skill1, skill2, skill3, skill4)

120
80
50

## 1.11.5

Extract and print the number of postings for 'Machine Learning Engineer' from the nested tuple job_details. The job_details is set to (('Data Scientist', 120), ('Data Analyst', 80), ('Machine Learning Engineer', 50)).

In [44]:
## simple method with double indexing
job_details = (("Data Scientist", 120), ("Data Analyst", 80), ("Machine Learning Engineer", 50))
print(job_details[2][1])

50

In [42]:
## multiple transformation to variables - clunky method

job_details = (("Data Scientist", 120), ("Data Analyst", 80), ("Machine Learning Engineer", 50))
ds, da, ml = job_details
ml_title, ml_postings = ml
print(ml_postings)

50