# 12 Operators

## 12.1 Logical operators: and, or, not

| Operator | Name     | Example |
|----------|----------|---------|
| and      | Logical AND | x and y |
| or       | Logical OR  | x or y  |
| not      | Logical NOT | not x   |

In [1]:
# both of these are true -» returns me true as a result using and.
job_work_from_home = True
job_health_insurance = True

job_work_from_home and job_health_insurance

True

In [2]:
# both of these are true -» returns me false as a result using and when one is False.
job_work_from_home = True
job_health_insurance = False

job_work_from_home and job_health_insurance

False

In [3]:
# we can compare more than 2 variables
job_work_from_home = True
job_health_insurance = True
job_no_degree_mentioned = True

job_work_from_home and job_health_insurance and job_no_degree_mentioned

True

In [5]:
# only meet one of the conditions using or. Only when both are false do we get false as a result.
job_work_from_home = True
job_health_insurance = False

job_work_from_home or job_health_insurance

True

In [6]:
# not is used to change which way the true or false statement is going
not True

False

In [8]:
# use not to find the opposite
job_work_from_home = True
job_health_insurance = True
job_no_degree_mentioned = False

job_work_from_home and job_health_insurance and not job_no_degree_mentioned

True

In [9]:
# using these operators to have a specific output using an if statement
if job_work_from_home and job_health_insurance and not job_no_degree_mentioned:
    print("Conditions met")

Conditions met

## 12.2 Membership operators in, not in

checking if an object is inside another object or not.

| Operator | Name            | Example   |
|----------|-----------------|-----------|
| in       | Membership      | x in y    |
| not in   | Not membership  | x not in y|

In [11]:
# use it to find if within a another object. It is case sensitive. 
"Data" in "Data Nerd"

True

In [14]:
# use it to verify if within a list. Use not for the opposite
job_skills = ["Python", "r", "sql"]
print("Python" in job_skills)
print("Excel" not in job_skills)

True
True

## 12.3 Identity operators is, is not

To see if an object is correlated to another. Commonly confused with comparison operators!!

They are used to see if items are using the same memory location. If we have 2 diff variables with the same value, using is will return false!

| Operator | Name               | Example   |
|----------|--------------------|-----------|
| is       | Identity           | x is y    |
| is not   | Not identity       | x is not y|

In [15]:
# do not use is to compare if two variables are equal
lukes_salary = 100_000
kelly_salary = 100_000

lukes_salary is kelly_salary

False

In [16]:
# it is false because both ids are different
print(id(lukes_salary))
print(id(kelly_salary))

2356724865680
2356724867184

We won't use this operator too often in data analytics

A case is if we have e.g. a list of skills is the same item. (see below)

In [17]:
core_skills = ["Python", "r", "sql"]
lukes_skills = core_skills
print(lukes_skills is core_skills)

True

## 12.4 Bitwise operators

Use in conjunction with the binary function

Beyond the scope of the course, but included here for completeness. 

| Operator | Name        | Example |
|----------|-------------|---------|
| &        | Bitwise AND | x & y   |
| \\|       | Bitwise OR  | x \\| y  |
| ^        | Bitwise XOR | x ^ y   |
| ~        | Bitwise NOT | ~x      |
| <<       | Left Shift  | x << y  |
| >>       | Right Shift | x >> y  |


we are including it here as the & (and), | (or) and the ~ (not) symbol will be used for Pandas

## 12.7 Problems

### 1.12.1

Check if the job_title1 of 'Data Engineer' is not the same object as the job_title2 of 'Data Scientist' and print the result.

In [19]:
job_title1 = "Data Engineer"
job_title2 = "Data Scientist"
print(job_title1 is not job_title2)

True

### 1.12.2

Determine if the job location 'New York' is in the list of job_locations ['New York', 'San Francisco', 'Austin'] and print the result.

In [20]:
job_locations = ["New York", "San Francisco", "Austin"]
print("New York" in job_locations )

True

### 1.12.3

Check if the job_title 'Data Analyst' is not in the job_description string 'Data Scientist at Tech Corp' and print the result.

In [22]:
job_title = "Data Analyst"
job_description = "Data Scientist at Tech Corp"
print(job_title not in job_description)

True

### 1.12.4

Check if both 'Data Scientist' and 'Machine Learning Engineer' are in the list of job titles ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer'] and print the result.

In [23]:
job_titles = ["Data Scientist", "Data Analyst", "Machine Learning Engineer"]
print("Data Scientist" and "Machine Learning Engineer" in job_titles)

True

### 1.12.5

Perform a bitwise OR operation on the binary representations of the salaries 100000 and 50000 and print the result. Named salary1 and salary2 respectively.

In [24]:
salary1 = 100_000
salary2 = 50_000
print(salary1 | salary2)

116720