# 14 List Comprehensions

In [2]:
numbers = [x for x in range(100)]

numbers

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [4]:
# how would we do the same thing as above with the skills we learned up to now.

# define numbers as an empty list 
numbers = []

# for each number in the range(100), append them to the empty existing 'numbers' list
for number in range(100):
    numbers.append(number)

numbers

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [ ]:
# let's go through the syntax of it
# first argument is what we want to put in the list -» x
# after the variable, we need to use a 'for' loop -» for x in range(100). We iterate through the range(100) and each item that it gets is added to the list

numbers = [x for x in range(100)]

In [6]:
# let's say I want to do an operation to the numbers as they are added to the list
# e.g. multiply them by 2

numbers = [x*2 for x in range(100)]

numbers

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198]

In [8]:
# we are not limited to maths operations
# e.g. we can convert them to a float

numbers = [float(x) for x in range(100)] 

numbers

[0.0,
 1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0,
 15.0,
 16.0,
 17.0,
 18.0,
 19.0,
 20.0,
 21.0,
 22.0,
 23.0,
 24.0,
 25.0,
 26.0,
 27.0,
 28.0,
 29.0,
 30.0,
 31.0,
 32.0,
 33.0,
 34.0,
 35.0,
 36.0,
 37.0,
 38.0,
 39.0,
 40.0,
 41.0,
 42.0,
 43.0,
 44.0,
 45.0,
 46.0,
 47.0,
 48.0,
 49.0,
 50.0,
 51.0,
 52.0,
 53.0,
 54.0,
 55.0,
 56.0,
 57.0,
 58.0,
 59.0,
 60.0,
 61.0,
 62.0,
 63.0,
 64.0,
 65.0,
 66.0,
 67.0,
 68.0,
 69.0,
 70.0,
 71.0,
 72.0,
 73.0,
 74.0,
 75.0,
 76.0,
 77.0,
 78.0,
 79.0,
 80.0,
 81.0,
 82.0,
 83.0,
 84.0,
 85.0,
 86.0,
 87.0,
 88.0,
 89.0,
 90.0,
 91.0,
 92.0,
 93.0,
 94.0,
 95.0,
 96.0,
 97.0,
 98.0,
 99.0]

In [11]:
# the iterator is not limited to a range. it can be anything that is iterable!! Even strings!

numbers = [x for x in "Python"]

numbers

['P', 'y', 't', 'h', 'o', 'n']

In [13]:
# we can also do sets, tuples, dictionaries, etc.

# we just have to change how we denote them

# e.g. use a set (delete duplicate and no particular order)

numbers = {x for x in "Python"}

numbers

{'P', 'h', 'n', 'o', 't', 'y'}

In [14]:
# we could do what we did in the previous chapter where we analysed that list of jobs, but with a list comprehension

# what we did last time

analyst_list = []

for job in job_list:
    if "Data Analyst" in job:
        analyst_list.append(job)

NameError: name 'job_list' is not defined

In [19]:
# List of some common data science job titles
import random

job_titles = [
    "Data Scientist", "Machine Learning Engineer", "Data Analyst", "Business Intelligence Analyst", 
    "Data Engineer", "AI Researcher", "Statistician", "Quantitative Analyst", "Data Architect", 
    "Big Data Engineer", "Deep Learning Engineer", "Data Science Manager", "Analytics Consultant", 
    "Natural Language Processing (NLP) Engineer", "Computer Vision Engineer", "Data Miner", 
    "Predictive Modeler", "Research Scientist", "Applied Scientist", "Data Visualization Specialist"
]

# Generate a list of 100 job titles (with possible repeats)
data_science_jobs = [random.choice(job_titles) for _ in range(100)]

# Create a list containing only Data Analyst titles
analyst_list = [job for job in data_science_jobs if "Data Analyst" in job]

# print analyst_list
print(analyst_list)

['Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst']

## 14.1 Problems

### 1.14.1

Create a list comprehension that converts a list of salaries from USD to EUR using a conversion rate of 0.85. With the list of salaries being: salaries_usd = [100000, 120000, 80000, 90000].

In [26]:
# create list + exchange rate variable
salaries_usd = [100_000, 120_000, 80_000, 90_000]
exchange_rate = 0.85

# list comprehension statement
salaries_eur = [exchange_rate*salary for salary in salaries_usd]

# print output
print(salaries_eur)

[85000.0, 102000.0, 68000.0, 76500.0]

### 1.14.2

Create a list of data science job titles that require more than 2 years of experience from the given dictionary. With job_experience set to {'Data Scientist': 3, 'Data Analyst': 1, 'Machine Learning Specialist': 4, 'Data Engineer': 2}.

In [33]:
# create job_experience dict.
job_experience = {"Data Scientist":3, "Data Analyst": 1, "Machine Learning Specialist": 4, "Data Engineer": 2}

# list comprehension statement
more_than_2_yrs = [title for title, exp in job_experience.items() if exp > 2]

print(more_than_2_yrs)

['Data Scientist', 'Machine Learning Specialist']

### 1.14.3

Create a list comprehension that extracts job titles with salaries greater than 90,000 from a given list of dictionaries containing job titles and salaries. The dictionary is job_salary_dicts named and it is set to [{'job_title': 'Data Scientist', 'salary': 100000}, {'job_title': 'Data Analyst', 'salary': 120000}, {'job_title': 'Data Engineer', 'salary': 80000}, {'job_title': 'Machine Learning Engineer', 'salary': 90000}].

In [51]:
# create list of dictionaries 
job_salary_dicts = [{'job_title': 'Data Scientist', 'salary': 100000}, {'job_title': 'Data Analyst', 'salary': 120000}, {'job_title': 'Data Engineer', 'salary': 80000}, {'job_title': 'Machine Learning Engineer', 'salary': 90000}]

# list comprehension, need to indent once more our statements as it is a mutitude of dict within a list
more_than_90k = [job["job_title"] for job in job_salary_dicts if job["salary"] > 90_000]

print(more_than_90k)

['Data Scientist', 'Data Analyst']