# 16 Functions

## 16.1 What is a function

- A function is a block of code that only runs when it's called.
- You can pass data (called parameters) into a function.
- The function can return data as a result.

## 16.2 Types of function

Type of Function             | Example Function              | Section            |
------------------------------|-------------------------------|--------------------|
| Built-In functions           | `max()`                       | 1. Getting Started |
| User-defined functions       | `def my_function(): pass`     | 16. Functions      |
| Lambda functions             | `lambda x: x + 1`             | 17. Lambda         |
| Standard Library functions   | `math.sqrt()`                 | 18. Modules        |
| Third-Party Library Functions| `numpy.array()`               | 19. Library        |

## 16.3 Built-in functions

In [18]:
skills_list = ["Python", "SQL", "R"]

# print
print(skills_list)

['Python', 'SQL', 'R']

In [19]:
# type function
type(skills_list)

list

In [20]:
# length function
len(skills_list)

3

In [21]:
# range function
range(10)

range(0, 10)

In [22]:
# help function
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...)
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

### [All the python built-in functions](https://docs.python.org/3/library/functions.html)

### Other examples of useful functions

In [23]:
data_salaries = [95000, 100000, 85000, 97000, 140000]

In [24]:
min(data_salaries)

85000

In [25]:
max(data_salaries)

140000

In [26]:
sum(data_salaries)

517000

In [27]:
sorted(data_salaries)

[85000, 95000, 97000, 100000, 140000]

## 16.4 User-defined functions

### Intro

In [28]:
base_salary = 100000
bonus_rate = 0.1

# calculate total_salary = base_salary * (1 + bonus_rate)
# but imagine we have multiple salaries and multiple bonus rates

def calculate_salary(): # def keyword to define a function. Must add the parentheses and the colon.
    base_salary = 100000 # for now using the single variables
    bonus_rate = 0.1

    total_salary = base_salary * (1 + bonus_rate) # what we want the function to do.

    return total_salary # define what we want as return whenever we call the function

In [29]:
calculate_salary()

110000.00000000001

In [30]:
# rather than having fixed parameters, we define them 

base_salary = 100000
bonus_rate = 0.1

# calculate total_salary = base_salary * (1 + bonus_rate)
# but imagine we have multiple salaries and multiple bonus rates

def calculate_salary(base_salary, bonus_rate): # def keyword to define a function. Must add the parentheses and the parameters in between them and the colon.

    total_salary = base_salary * (1 + bonus_rate) # what we want the function to do.

    return total_salary # define what we want as return whenever we call the function

In [31]:
# i now need to add these parameters in between the brackets to call the function
calculate_salary(base_salary, bonus_rate)

110000.00000000001

In [32]:
# i can also feed directly inputs in the parentheses and it'll still run
calculate_salary(185000, .25)

231250.0

### Clean writing

In [33]:
# calculate total_salary of base_salary * (1 + bonus_rate)
def calculate_salary(base_salary, bonus_rate):

    total_salary = base_salary * (1 + bonus_rate) 

    return total_salary

In [34]:
salary_1 = 100000
rate_1 = 0.1

calculate_salary(salary_1, rate_1)

110000.00000000001

In [36]:
# we can assign a specific valule to an argument right in between the parentheses when creating the function
# e.g. the bonus rate is always 10%

def calculate_salary(base_salary, bonus_rate=.1):

    total_salary = base_salary * (1 + bonus_rate) 

    return total_salary

calculate_salary(salary_1)

# I don't need to add a second argument anymore.

110000.00000000001

In [37]:
# I can add whatever I want as salary and it'll work

calculate_salary(200000)

220000.00000000003

In [39]:
# in the case where we have a different value, we can always use it as well
# e.g. bonus rate is 50%

salary_2 = 100000
rate_2 = .5

calculate_salary(salary_2, rate_2)

150000.0

# 16 Problems

## 1.16.1

Create a function job_title_contains that takes a job title and a keyword as arguments, and returns True if the job title contains the keyword, otherwise returns False. 

To confirm the function works, set the job_title to 'Data Scientist' and the keyword to 'Data'.

In [46]:
def job_title_contains(job_title, keyword):

    return keyword in job_title

job_title = 'Data Scientist'
keyword = 'Data'

job_title_contains(job_title, keyword)

True

## 1.16.2

Create a function average_salary that takes a list of salaries and returns the average salary. With the salaries set as [95000, 120000, 105000, 90000, 130000].

In [49]:
def average_salary(salaries):
    
    avg_salary = sum(salaries) / len(salaries)

    return avg_salary

salaries = [95000, 120000, 105000, 90000, 130000]

average_salary(salaries)

108000.0

## 1.16.3

Create a function salary_statistics that takes a list of salaries and returns a dictionary with the minimum, maximum, and average salary. The list of salaries is set to [95000, 120000, 105000, 90000, 130000].

In [55]:
def salary_statistics(salaries):
    
    return {
        f"Min. salary: {min(salaries)}",
        f"Max. salary: {max(salaries)}",
        f"Avg. salary: {sum(salaries)/len(salaries)}"
    }
    
salaries = [95000, 120000, 105000, 90000, 130000]

salary_statistics(salaries)

{'Avg. salary: 108000.0', 'Max. salary: 130000', 'Min. salary: 90000'}

## 1.16.4

Create a function job_posting_summary that takes a list of job postings, where each posting is a dictionary with keys 'title', 'location', and 'salary', and returns a summary dictionary with the total number of postings, the average salary, and a list of unique locations. The job_postings is set to [{'title': 'Data Scientist', 'location': 'New York', 'salary': 95000}, {'title': 'Data Analyst', 'location': 'San Francisco', 'salary': 85000}, {'title': 'Machine Learning Engineer', 'location': 'New York', 'salary': 115000}].

In [66]:
job_postings = [
    {'title': 'Data Scientist', 'location': 'New York', 'salary': 95000},
    {'title': 'Data Analyst', 'location': 'San Francisco', 'salary': 85000},
    {'title': 'Machine Learning Engineer', 'location': 'New York', 'salary': 115000}
]

def job_postings_summary(job_postings):
    
    total_postings = len(job_postings)
    total_salary = sum(posting["salary"] for posting in job_postings)
    average_salary = total_salary / total_postings
    unique_locations = list(set(posting["location"] for posting in job_postings))

    return {
            "Total postings": total_postings,
            "Average salary": average_salary,
            "Unique locations": unique_locations 
    }

job_postings_summary(job_postings)

{'Total postings': 3,
 'Average salary': 98333.33333333333,
 'Unique locations': ['San Francisco', 'New York']}