# 19 Exercise Python Library

An exercise to prepare us for the data cleaning that will come later down the line using modules from the python library.

In the dataset on hugmyface, there's a couple of things we need to clean. We'll do some exercise work below to correct the following things:

- turn the 'job_date' from a string value to a date time object
- turn the 'job_skills' from a string value to a list object

We'll be using the dummy data below, which is a list of dictionaries.

In [33]:
data_science_jobs = [
    {'job_title': 'Data Scientist', 'job_skills': "['Python', 'SQL', 'Machine Learning']", 'job_date': '2023-05-12'},
    {'job_title': 'Machine Learning Engineer', 'job_skills': "['Python', 'TensorFlow', 'Deep Learning']", 'job_date': '2023-05-15'},
    {'job_title': 'Data Analyst', 'job_skills': "['SQL', 'R', 'Tableau']", 'job_date': '2023-05-10'},
    {'job_title': 'Business Intelligence Developer', 'job_skills': "['SQL', 'PowerBI', 'Data Warehousing']", 'job_date': '2023-05-08'},
    {'job_title': 'Data Engineer', 'job_skills': "['Python', 'Spark', 'Hadoop']", 'job_date': '2023-05-18'},
    {'job_title': 'AI Specialist', 'job_skills': "['Python', 'PyTorch', 'AI Ethics']", 'job_date': '2023-05-20'}
]

In [34]:
# cleaning date-time with the python standard library.

from datetime import datetime

In [35]:
datetime.now()

datetime.datetime(2024, 10, 18, 10, 49, 28, 627129)

In [36]:
# verifying the type we currently have for "job date"
type(data_science_jobs[0]["job_date"])

str

In [37]:
# changing the type
# for method # fomarting codes, go to the python library in the datetime section.

test_date = data_science_jobs[0]["job_date"]

print(datetime.strptime(test_date, "%Y-%m-%d"))

2023-05-12 00:00:00

In [38]:
# how do we apply it to all items in the list of dict. -Â» Using a for loop!!

for job in data_science_jobs:
    job["job_date"] = datetime.strptime(job["job_date"], "%Y-%m-%d")

data_science_jobs

[{'job_title': 'Data Scientist',
  'job_skills': "['Python', 'SQL', 'Machine Learning']",
  'job_date': datetime.datetime(2023, 5, 12, 0, 0)},
 {'job_title': 'Machine Learning Engineer',
  'job_skills': "['Python', 'TensorFlow', 'Deep Learning']",
  'job_date': datetime.datetime(2023, 5, 15, 0, 0)},
 {'job_title': 'Data Analyst',
  'job_skills': "['SQL', 'R', 'Tableau']",
  'job_date': datetime.datetime(2023, 5, 10, 0, 0)},
 {'job_title': 'Business Intelligence Developer',
  'job_skills': "['SQL', 'PowerBI', 'Data Warehousing']",
  'job_date': datetime.datetime(2023, 5, 8, 0, 0)},
 {'job_title': 'Data Engineer',
  'job_skills': "['Python', 'Spark', 'Hadoop']",
  'job_date': datetime.datetime(2023, 5, 18, 0, 0)},
 {'job_title': 'AI Specialist',
  'job_skills': "['Python', 'PyTorch', 'AI Ethics']",
  'job_date': datetime.datetime(2023, 5, 20, 0, 0)}]

In [39]:
# clean the list of skills. They are recognised as a string because they are between double quotes.
# we will use ast in the python library. Use chatgpt to understand which module to use.
# we will use the ast.literal_eval method

import ast 

for job in data_science_jobs:
    job["job_skills"] = ast.literal_eval(job["job_skills"])

In [40]:
data_science_jobs

[{'job_title': 'Data Scientist',
  'job_skills': ['Python', 'SQL', 'Machine Learning'],
  'job_date': datetime.datetime(2023, 5, 12, 0, 0)},
 {'job_title': 'Machine Learning Engineer',
  'job_skills': ['Python', 'TensorFlow', 'Deep Learning'],
  'job_date': datetime.datetime(2023, 5, 15, 0, 0)},
 {'job_title': 'Data Analyst',
  'job_skills': ['SQL', 'R', 'Tableau'],
  'job_date': datetime.datetime(2023, 5, 10, 0, 0)},
 {'job_title': 'Business Intelligence Developer',
  'job_skills': ['SQL', 'PowerBI', 'Data Warehousing'],
  'job_date': datetime.datetime(2023, 5, 8, 0, 0)},
 {'job_title': 'Data Engineer',
  'job_skills': ['Python', 'Spark', 'Hadoop'],
  'job_date': datetime.datetime(2023, 5, 18, 0, 0)},
 {'job_title': 'AI Specialist',
  'job_skills': ['Python', 'PyTorch', 'AI Ethics'],
  'job_date': datetime.datetime(2023, 5, 20, 0, 0)}]

In [ ]:
# if we wanted, we could do both cleaning operations in one for loop :)