# 23 Pandas

Industry standard to handle tabular data, like excel, csv, SQL, etc.

For any info, go on the [website](https://pandas.pydata.org/)

Go to the [API reference page](https://pandas.pydata.org/docs/reference/index.html). We'll be referencing it often in this section and going forward.

In [1]:
!pip list

Package           Version
----------------- -----------
asttokens         2.4.1
colorama          0.4.6
comm              0.2.2
debugpy           1.8.7
decorator         5.1.1
executing         2.1.0
ipykernel         6.29.5
ipython           8.28.0
jedi              0.19.1
jupyter_client    8.6.3
jupyter_core      5.7.2
matplotlib-inline 0.1.7
nest-asyncio      1.6.0
numpy             2.1.2
packaging         24.1
pandas            2.2.3
parso             0.8.4
platformdirs      4.3.6
prompt_toolkit    3.0.48
psutil            6.0.0
pure_eval         0.2.3
Pygments          2.18.0
pyjokes           0.8.3
python-dateutil   2.9.0.post0
pytz              2024.2
pywin32           307
pyzmq             26.2.0
six               1.16.0
stack-data        0.6.3
tornado           6.4.1
traitlets         5.14.3
typing_extensions 4.12.2
tzdata            2024.2
wcwidth           0.2.13

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: C:\Users\erard\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [14]:
import pandas as pd

A couple of functions that will be useful are the:
- pandas.read_excel
- pandas.read_csv

We'll use these functions to access data and access it via a data frame.
We'll access some sample data from a Google jupiter notebook that is saved in a specific local folder for this course.

In [18]:
df = pd.read_csv(r"C:\Users\erard\OneDrive\Documents\Training\Luke_Barousse_Python_for_Data_Analytics\1_Basics\test_csv\california_housing_test.csv")

# need to wrap the file path in double quotes and add r before to transform the path into a raw path.

# df is used as a common name to define a dataframe variable.

In [19]:
type(df)

pandas.core.frame.DataFrame

In [21]:
df

# we have the indexes on the left (starting at 0) and the column names on the top. 
# the data is layed out in row and columns
# a dataframe is a dict like data type. We can use a similar notation to access the data.

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [22]:
# get only a column
df["total_bedrooms"]

0        661.0
1        310.0
2        507.0
3         15.0
4        244.0
         ...
2995     642.0
2996    1082.0
2997     201.0
2998      14.0
2999     263.0
Name: total_bedrooms, Length: 3000, dtype: float64

In [23]:
# we can use another notation to access the column data

df.total_bedrooms

0        661.0
1        310.0
2        507.0
3         15.0
4        244.0
         ...
2995     642.0
2996    1082.0
2997     201.0
2998      14.0
2999     263.0
Name: total_bedrooms, Length: 3000, dtype: float64

In [26]:
# to access the data for a specific index
print(df.total_bedrooms[0])

# could also write it like this
print(df["total_bedrooms"][0])

661.0
661.0

## Access course data!

Data hosted on hugging face, a great platform to host a dataset. 

Let's find out how to load a dataset from the website directly.

In [27]:
# first thing to do is to run pip install datasets

!pip install datasets

Collecting datasets
  Downloading datasets-3.0.1-py3-none-any.whl.metadata (20 kB)
Collecting filelock (from datasets)
  Downloading filelock-3.16.1-py3-none-any.whl.metadata (2.9 kB)
Requirement already satisfied: numpy>=1.17 in c:\users\erard\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from datasets) (2.1.2)
Collecting pyarrow>=15.0.0 (from datasets)
  Downloading pyarrow-17.0.0-cp311-cp311-win_amd64.whl.metadata (3.4 kB)
Collecting dill<0.3.9,>=0.3.0 (from datasets)
  Downloading dill-0.3.8-py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: pandas in c:\users\erard\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from datasets) (2.2.3)
Collecting requests>=2.32.2 (from datasets)
  Downloading requests-2.32.3-py3-none-any.whl.metadata (4.6 kB)
Collecting tqdm>=4.66.3 (from datasets)
  Downloading tqdm-4.66.5-py3-none-any.whl.metadata (57 kB)
     ---------------------------------------- 0.0/57.6 kB ? eta -:--:--
     ---------------------------------------- 57.6/57.6 kB 3.2 MB/s eta 0:00:00
Collecting xxhash (from datasets)
  Downloading xxhash-3.5.0-cp311-cp311-win_amd64.whl.metadata (13 kB)
Collecting multiprocess (from datasets)
  Downloading multiprocess-0.70.17-py311-none-any.whl.metadata (7.2 kB)
Collecting fsspec<=2024.6.1,>=2023.1.0 (from fsspec[http]<=2024.6.1,>=2023.1.0->datasets)
  Downloading fsspec-2024.6.1-py3-none-any.whl.metadata (11 kB)
Collecting aiohttp (from datasets)
  Downloading aiohttp-3.10.10-cp311-cp311-win_amd64.whl.metadata (7.8 kB)
Collecting huggingface-hub>=0.22.0 (from datasets)
  Downloading huggingface_hub-0.26.1-py3-none-any.whl.metadata (13 kB)
Requirement already satisfied: packaging in c:\users\erard\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from datasets) (24.1)
Collecting pyyaml>=5.1 (from datasets)
  Downloading PyYAML-6.0.2-cp311-cp311-win_amd64.whl.metadata (2.1 kB)
Collecting aiohappyeyeballs>=2.3.0 (from aiohttp->datasets)
  Downloading aiohappyeyeballs-2.4.3-py3-none-any.whl.metadata (6.1 kB)
Collecting aiosignal>=1.1.2 (from aiohttp->datasets)
  Downloading aiosignal-1.3.1-py3-none-any.whl.metadata (4.0 kB)
Collecting attrs>=17.3.0 (from aiohttp->datasets)
  Downloading attrs-24.2.0-py3-none-any.whl.metadata (11 kB)
Collecting frozenlist>=1.1.1 (from aiohttp->datasets)
  Downloading frozenlist-1.4.1-cp311-cp311-win_amd64.whl.metadata (12 kB)
Collecting multidict<7.0,>=4.5 (from aiohttp->datasets)
  Downloading multidict-6.1.0-cp311-cp311-win_amd64.whl.metadata (5.1 kB)
Collecting yarl<2.0,>=1.12.0 (from aiohttp->datasets)
  Downloading yarl-1.16.0-cp311-cp311-win_amd64.whl.metadata (65 kB)
     ---------------------------------------- 0.0/65.8 kB ? eta -:--:--
     ---------------------------------------- 65.8/65.8 kB 1.8 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\erard\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from huggingface-hub>=0.22.0->datasets) (4.12.2)
Collecting charset-normalizer<4,>=2 (from requests>=2.32.2->datasets)
  Downloading charset_normalizer-3.4.0-cp311-cp311-win_amd64.whl.metadata (34 kB)
Collecting idna<4,>=2.5 (from requests>=2.32.2->datasets)
  Downloading idna-3.10-py3-none-any.whl.metadata (10 kB)
Collecting urllib3<3,>=1.21.1 (from requests>=2.32.2->datasets)
  Downloading urllib3-2.2.3-py3-none-any.whl.metadata (6.5 kB)
Collecting certifi>=2017.4.17 (from requests>=2.32.2->datasets)
  Downloading certifi-2024.8.30-py3-none-any.whl.metadata (2.2 kB)
Requirement already satisfied: colorama in c:\users\erard\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from tqdm>=4.66.3->datasets) (0.4.6)
INFO: pip is looking at multiple versions of multiprocess to determine which version is compatible with other requirements. This could take a while.
Collecting multiprocess (from datasets)
  Downloading multiprocess-0.70.16-py311-none-any.whl.metadata (7.2 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\erard\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas->datasets) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\erard\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas->datasets) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\erard\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas->datasets) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\erard\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas->datasets) (1.16.0)
Collecting propcache>=0.2.0 (from yarl<2.0,>=1.12.0->aiohttp->datasets)
  Downloading propcache-0.2.0-cp311-cp311-win_amd64.whl.metadata (7.9 kB)
Downloading datasets-3.0.1-py3-none-any.whl (471 kB)
   ---------------------------------------- 0.0/471.6 kB ? eta -:--:--
   ------------------------- -------------- 297.0/471.6 kB 6.1 MB/s eta 0:00:01
   ---------------------------------------- 471.6/471.6 kB 7.4 MB/s eta 0:00:00
Downloading dill-0.3.8-py3-none-any.whl (116 kB)
   ---------------------------------------- 0.0/116.3 kB ? eta -:--:--
   ---------------------------------------- 116.3/116.3 kB ? eta 0:00:00
Downloading fsspec-2024.6.1-py3-none-any.whl (177 kB)
   ---------------------------------------- 0.0/177.6 kB ? eta -:--:--
   ---------------------------------------- 177.6/177.6 kB ? eta 0:00:00
Downloading aiohttp-3.10.10-cp311-cp311-win_amd64.whl (381 kB)
   ---------------------------------------- 0.0/381.6 kB ? eta -:--:--
   --------------------------------------- 381.6/381.6 kB 23.2 MB/s eta 0:00:00
Downloading huggingface_hub-0.26.1-py3-none-any.whl (447 kB)
   ---------------------------------------- 0.0/447.4 kB ? eta -:--:--
   --------------------------------------- 447.4/447.4 kB 27.3 MB/s eta 0:00:00
Downloading pyarrow-17.0.0-cp311-cp311-win_amd64.whl (25.2 MB)
   ---------------------------------------- 0.0/25.2 MB ? eta -:--:--
   -- ------------------------------------- 1.3/25.2 MB 42.6 MB/s eta 0:00:01
   ---- ----------------------------------- 2.6/25.2 MB 33.1 MB/s eta 0:00:01
   ------ --------------------------------- 3.9/25.2 MB 31.0 MB/s eta 0:00:01
   -------- ------------------------------- 5.1/25.2 MB 29.8 MB/s eta 0:00:01
   ---------- ----------------------------- 6.4/25.2 MB 29.3 MB/s eta 0:00:01
   ------------ --------------------------- 7.6/25.2 MB 28.6 MB/s eta 0:00:01
   -------------- ------------------------- 8.9/25.2 MB 28.3 MB/s eta 0:00:01
   ---------------- ----------------------- 10.2/25.2 MB 28.3 MB/s eta 0:00:01
   ----------------- ---------------------- 11.3/25.2 MB 27.3 MB/s eta 0:00:01
   ------------------- -------------------- 12.3/25.2 MB 27.3 MB/s eta 0:00:01
   --------------------- ------------------ 13.4/25.2 MB 26.2 MB/s eta 0:00:01
   ------------------------ --------------- 15.2/25.2 MB 27.3 MB/s eta 0:00:01
   -------------------------- ------------- 16.5/25.2 MB 27.3 MB/s eta 0:00:01
   ---------------------------- ----------- 17.7/25.2 MB 27.3 MB/s eta 0:00:01
   ------------------------------ --------- 19.0/25.2 MB 28.5 MB/s eta 0:00:01
   -------------------------------- ------- 20.3/25.2 MB 28.5 MB/s eta 0:00:01
   --------------------------------- ------ 21.2/25.2 MB 27.3 MB/s eta 0:00:01
   ------------------------------------ --- 22.7/25.2 MB 31.2 MB/s eta 0:00:01
   -------------------------------------- - 24.0/25.2 MB 29.7 MB/s eta 0:00:01
   ---------------------------------------  25.1/25.2 MB 27.3 MB/s eta 0:00:01
   ---------------------------------------- 25.2/25.2 MB 24.2 MB/s eta 0:00:00
Downloading PyYAML-6.0.2-cp311-cp311-win_amd64.whl (161 kB)
   ---------------------------------------- 0.0/162.0 kB ? eta -:--:--
   --------------------------------------- 162.0/162.0 kB 10.1 MB/s eta 0:00:00
Downloading requests-2.32.3-py3-none-any.whl (64 kB)
   ---------------------------------------- 0.0/64.9 kB ? eta -:--:--
   ---------------------------------------- 64.9/64.9 kB ? eta 0:00:00
Downloading tqdm-4.66.5-py3-none-any.whl (78 kB)
   ---------------------------------------- 0.0/78.4 kB ? eta -:--:--
   ---------------------------------------- 78.4/78.4 kB ? eta 0:00:00
Downloading filelock-3.16.1-py3-none-any.whl (16 kB)
Downloading multiprocess-0.70.16-py311-none-any.whl (143 kB)
   ---------------------------------------- 0.0/143.5 kB ? eta -:--:--
   ---------------------------------------- 143.5/143.5 kB ? eta 0:00:00
Downloading xxhash-3.5.0-cp311-cp311-win_amd64.whl (30 kB)
Downloading aiohappyeyeballs-2.4.3-py3-none-any.whl (14 kB)
Downloading aiosignal-1.3.1-py3-none-any.whl (7.6 kB)
Downloading attrs-24.2.0-py3-none-any.whl (63 kB)
   ---------------------------------------- 0.0/63.0 kB ? eta -:--:--
   ---------------------------------------- 63.0/63.0 kB ? eta 0:00:00
Downloading certifi-2024.8.30-py3-none-any.whl (167 kB)
   ---------------------------------------- 0.0/167.3 kB ? eta -:--:--
   ---------------------------------------- 167.3/167.3 kB ? eta 0:00:00
Downloading charset_normalizer-3.4.0-cp311-cp311-win_amd64.whl (101 kB)
   ---------------------------------------- 0.0/101.8 kB ? eta -:--:--
   ---------------------------------------- 101.8/101.8 kB 5.7 MB/s eta 0:00:00
Downloading frozenlist-1.4.1-cp311-cp311-win_amd64.whl (50 kB)
   ---------------------------------------- 0.0/50.5 kB ? eta -:--:--
   ---------------------------------------- 50.5/50.5 kB 1.3 MB/s eta 0:00:00
Downloading idna-3.10-py3-none-any.whl (70 kB)
   ---------------------------------------- 0.0/70.4 kB ? eta -:--:--
   ---------------------------------------- 70.4/70.4 kB ? eta 0:00:00
Downloading multidict-6.1.0-cp311-cp311-win_amd64.whl (28 kB)
Downloading urllib3-2.2.3-py3-none-any.whl (126 kB)
   ---------------------------------------- 0.0/126.3 kB ? eta -:--:--
   ---------------------------------------- 126.3/126.3 kB ? eta 0:00:00
Downloading yarl-1.16.0-cp311-cp311-win_amd64.whl (89 kB)
   ---------------------------------------- 0.0/89.6 kB ? eta -:--:--
   ---------------------------------------- 89.6/89.6 kB ? eta 0:00:00
Downloading propcache-0.2.0-cp311-cp311-win_amd64.whl (44 kB)
   ---------------------------------------- 0.0/44.9 kB ? eta -:--:--
   ---------------------------------------- 44.9/44.9 kB ? eta 0:00:00
Installing collected packages: xxhash, urllib3, tqdm, pyyaml, pyarrow, propcache, multidict, idna, fsspec, frozenlist, filelock, dill, charset-normalizer, certifi, attrs, aiohappyeyeballs, yarl, requests, multiprocess, aiosignal, huggingface-hub, aiohttp, datasets
Successfully installed aiohappyeyeballs-2.4.3 aiohttp-3.10.10 aiosignal-1.3.1 attrs-24.2.0 certifi-2024.8.30 charset-normalizer-3.4.0 datasets-3.0.1 dill-0.3.8 filelock-3.16.1 frozenlist-1.4.1 fsspec-2024.6.1 huggingface-hub-0.26.1 idna-3.10 multidict-6.1.0 multiprocess-0.70.16 propcache-0.2.0 pyarrow-17.0.0 pyyaml-6.0.2 requests-2.32.3 tqdm-4.66.5 urllib3-2.2.3 xxhash-3.5.0 yarl-1.16.0

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: C:\Users\erard\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [29]:
# we need to import the load_dataset function from the datasets library

from datasets import load_dataset

In [31]:
# add the path string from the database straight from hugging face by clicking the "copy" icon right next to the dataset title on the website

dataset = load_dataset("lukebarousse/data_jobs")

In [32]:
# to call the dataset itself

dataset["train"]

Dataset({
    features: ['job_title_short', 'job_title', 'job_location', 'job_via', 'job_schedule_type', 'job_work_from_home', 'search_location', 'job_posted_date', 'job_no_degree_mention', 'job_health_insurance', 'job_country', 'salary_rate', 'salary_year_avg', 'salary_hour_avg', 'company_name', 'job_skills', 'job_type_skills'],
    num_rows: 785741
})

In [34]:
# we then run a method to transform the dataset into a dataframe and be able to access it.

df = dataset["train"].to_pandas()

In [35]:
df

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
0,Senior Data Engineer,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT",via Work Nearby,Full-time,False,"Texas, United States",2023-06-16 13:44:15,False,False,United States,None,NaN,NaN,Boehringer Ingelheim,None,None
1,Data Analyst,Data Analyst,"Guadalajara, Jalisco, Mexico",via BeBee México,Full-time,False,Mexico,2023-01-14 13:18:07,False,False,Mexico,None,NaN,NaN,Hewlett Packard Enterprise,"['r', 'python', 'sql', 'nosql', 'power bi', 't...","{'analyst_tools': ['power bi', 'tableau'], 'pr..."
2,Data Engineer,"Data Engineer/Scientist/Analyst, Mid or Senior...","Berlin, Germany",via LinkedIn,Full-time,False,Germany,2023-10-10 13:14:55,False,False,Germany,None,NaN,NaN,ALPHA Augmented Services,"['python', 'sql', 'c#', 'azure', 'airflow', 'd...","{'analyst_tools': ['dax'], 'cloud': ['azure'],..."
3,Data Engineer,LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...,"San Antonio, TX",via Diversity.com,Full-time,False,"Texas, United States",2023-07-04 13:01:41,True,False,United States,None,NaN,NaN,Southwest Research Institute,"['python', 'c++', 'java', 'matlab', 'aws', 'te...","{'cloud': ['aws'], 'libraries': ['tensorflow',..."
4,Data Engineer,Data Engineer- Sr Jobs,"Washington, DC",via Clearance Jobs,Full-time,False,Sudan,2023-08-07 14:29:36,False,False,Sudan,None,NaN,NaN,Kristina Daniel,"['bash', 'python', 'oracle', 'aws', 'ansible',...","{'cloud': ['oracle', 'aws'], 'other': ['ansibl..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785736,Software Engineer,DevOps Engineer,Singapura,melalui Trabajo.org,Pekerjaan tetap,False,Singapore,2023-03-13 06:16:16,False,False,Singapore,None,NaN,NaN,CAREERSTAR INTERNATIONAL PTE. LTD.,"['bash', 'python', 'perl', 'linux', 'unix', 'k...","{'os': ['linux', 'unix'], 'other': ['kubernete..."
785737,Data Analyst,CRM Data Analyst,"Bad Rodach, Jerman",melalui BeBee Deutschland,Pekerjaan tetap,False,Germany,2023-03-12 06:18:18,False,False,Germany,None,NaN,NaN,HABA FAMILYGROUP,"['sas', 'sas', 'sql', 'excel']","{'analyst_tools': ['sas', 'excel'], 'programmi..."
785738,Business Analyst,Commercial Analyst - Start Now,Malaysia,melalui Ricebowl,Pekerjaan tetap,False,Malaysia,2023-03-12 06:32:36,False,False,Malaysia,None,NaN,NaN,Lendlease Corporation,"['powerpoint', 'excel']","{'analyst_tools': ['powerpoint', 'excel']}"
785739,Data Engineer,"Principal Associate, Data Engineer (Remote-Eli...","Newark, New Jersey, Amerika Serikat",melalui Recruit.net,Pekerjaan tetap,False,Sudan,2023-03-12 06:32:15,False,False,Sudan,None,NaN,NaN,Capital One,"['python', 'go', 'nosql', 'sql', 'mongo', 'she...","{'cloud': ['aws', 'snowflake', 'azure', 'redsh..."
785740,Software Engineer,AWS System Analyst,India,melalui Trigyn,Pekerjaan tetap,False,India,2023-03-13 06:16:31,False,False,India,None,NaN,NaN,Trigyn,"['aws', 'flow']","{'cloud': ['aws'], 'other': ['flow']}"

# 23 Problems

## 1.23.1

- Import the Pandas library under the alias pd.
- Import the load_dataset function from datasets library.
- Load the course dataset ('lukebarousse/data_jobs') using the load_dataset function.
- Transform it into a DataFrame and display the last 5 rows.

In [36]:
# Steps 1-2-3 ahve already been done above.

df.tail(5)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
785736,Software Engineer,DevOps Engineer,Singapura,melalui Trabajo.org,Pekerjaan tetap,False,Singapore,2023-03-13 06:16:16,False,False,Singapore,None,NaN,NaN,CAREERSTAR INTERNATIONAL PTE. LTD.,"['bash', 'python', 'perl', 'linux', 'unix', 'k...","{'os': ['linux', 'unix'], 'other': ['kubernete..."
785737,Data Analyst,CRM Data Analyst,"Bad Rodach, Jerman",melalui BeBee Deutschland,Pekerjaan tetap,False,Germany,2023-03-12 06:18:18,False,False,Germany,None,NaN,NaN,HABA FAMILYGROUP,"['sas', 'sas', 'sql', 'excel']","{'analyst_tools': ['sas', 'excel'], 'programmi..."
785738,Business Analyst,Commercial Analyst - Start Now,Malaysia,melalui Ricebowl,Pekerjaan tetap,False,Malaysia,2023-03-12 06:32:36,False,False,Malaysia,None,NaN,NaN,Lendlease Corporation,"['powerpoint', 'excel']","{'analyst_tools': ['powerpoint', 'excel']}"
785739,Data Engineer,"Principal Associate, Data Engineer (Remote-Eli...","Newark, New Jersey, Amerika Serikat",melalui Recruit.net,Pekerjaan tetap,False,Sudan,2023-03-12 06:32:15,False,False,Sudan,None,NaN,NaN,Capital One,"['python', 'go', 'nosql', 'sql', 'mongo', 'she...","{'cloud': ['aws', 'snowflake', 'azure', 'redsh..."
785740,Software Engineer,AWS System Analyst,India,melalui Trigyn,Pekerjaan tetap,False,India,2023-03-13 06:16:31,False,False,India,None,NaN,NaN,Trigyn,"['aws', 'flow']","{'cloud': ['aws'], 'other': ['flow']}"

## 1.23.2

Select and display the job_location column from the course dataset DataFrame you created in the last exercise using bracket notation.

In [37]:
df["job_location"]

0                               Watertown, CT
1                Guadalajara, Jalisco, Mexico
2                             Berlin, Germany
3                             San Antonio, TX
4                              Washington, DC
                         ...
785736                              Singapura
785737                     Bad Rodach, Jerman
785738                               Malaysia
785739    Newark, New Jersey, Amerika Serikat
785740                                  India
Name: job_location, Length: 785741, dtype: object

## 1.23.3

Select and display the search_location column from the DataFrame using dot notation

In [38]:
df.search_location

0         Texas, United States
1                       Mexico
2                      Germany
3         Texas, United States
4                        Sudan
                  ...
785736               Singapore
785737                 Germany
785738                Malaysia
785739                   Sudan
785740                   India
Name: search_location, Length: 785741, dtype: object

## 1.23.4

Select the job_title from the 57th row from the DataFrame using its index.

In [40]:
df.job_title[56]

'Principal Statistical Scientist'

In [ ]:
# fyi - for any upcoming problem, use the following code to import the dataframe
# 
# import pandas as pd
# from datasets import load_dataset

# dataset = load_dataset('lukebarousse/data_jobs')
# df = dataset['train'].to_pandas()